fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
httpx
openpyxl
python-docx
reportlab
pytest
pytest-asyncio
